@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkGrey: rgb(36,35,44);
  --grey: rgb(128,124,146);
  --white: rgb(238, 229, 234);
  --black: rgb(24,23,31);
  --green: rgb(164, 255, 175);
  --red: rgb(246,74,74);
  --orange: rgb(251,124,88);
  --yellow: rgb(248,205,101);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face{
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}